@import "layout/structure";
$red: #E74C3C;
$white: #FFF;

h1 {
	color: $red;
	margin: 10px 0;
}

.login-area {
	width: 400px;
	position: absolute;
	padding: 0;
	top: 50%;
	left: 50%;
	margin: -160px 0 0 -200px;
	text-align: center;

	.logo {
		max-width: 300px;
		margin: 0;
		padding: 0;
	}
}

form {
	max-width: 320px;
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 0;
}

label {
	display: block;
	margin: 5px;
	font-size: 20px;
}

input {
	background-color: #3B4148;
	color: #767A7F;
	border: 0;
	display: block;
	font-size: 15px;
	line-height: 47px;
	font-family: 'TTThin';
	margin: 15px auto;
	padding: 0 0 0 60px;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px 0px #282D3;
	-webkit-box-shadow: 1px 1px 1px 0px #282D3;
	box-shadow: 1px 1px 1px 0px #282D3;
}

.login-button {
	border: 0;
	width: 100%;
	font-size: 20px;
	letter-spacing: 1px;
	position: relative;
	background-color: #F24D34;
	color: white;
	margin-top: 20px;
	padding: 0;
	text-transform: uppercase;
	outline: none;

	//border radius

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	&:hover, &:focus  {
		background: #C93A23;
		cursor: pointer;
		outline: none;
	}
}


.forgot-password {

	a {
		font-size: 20px;
		color: $red;
		text-decoration: none;
	}

	margin-top: 20px;
}

.email, .password {
	position: relative;

	.icon-envelope, .icon-lock {
		background: #363B41;
		color: white;
		line-height: 47px;
		position: absolute;
		left: 0;
		padding: 0 16px;
		
	}
}
