.sub__content {

	nav {
		margin: auto;
		padding: 0 0 0 0;
		position: relative;
		width: 100%;

		&:after {
			content: "";
			height: 100%;
			margin: 0;
			padding: 0;
			right: -14px;
			position: absolute;
			top: 0;
			width: 1px;

		}

		ul {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			/* CSS3 */
			border-radius: 0.4em;
			-moz-border-radius: 0.4em;
			-webkit-border-radius: 0.4em;

			li {
				border-bottom: 2px solid #2A3E50;
				color: white;
				font-family: TTRegular;
				line-height: 30px;
				margin: 0;
				padding: 5px 0 5px 8px;

				&:first-child {
					background: #F24D34;
					border-radius: 0.4em 0.4em 0 0;
					-moz-border-radius: 0.4em 0.4em 0 0;
					-webkit-border-radius: 0.4em 0.4em 0 0;

					&:hover {
						background: #C93A23;
					}
				}

				&:hover {
					background: #2A3E50; /* Old browsers */

				}

				a {
					display: block;
					font-size: 14px;
					line-height: 40px;
					padding: 0 0 0 8px;
					text-transform: uppercase;
					color: white;
					
				}
			}

		}

		select {
			display: none;
			font-size: 18px;
			width: 100%;
			
		}
	}
}