@import "Layouts/structure";

h1 {
	color: $red;
	margin: 10px 0;
}

.login-area {
	width: 400px;
	position: absolute;
	padding: 0;
	top: 50%;
	left: 50%;
	margin: -160px 0 0 -200px;
	text-align: center;

	.logo {
		max-width: 300px;
		margin: 0;
		padding: 0;
	}
}

form {
	max-width: 320px;
	position: relative;
	left: 0;
	margin: 0 auto;
	padding: 0;
}

label {
	display: block;
	margin: 5px;
	font-size: 20px;
}

input {
	background-color: #3B4148;
	color: white;
	border: 0;
	display: block;
	font-size: 15px;
	line-height: 47px;
	height: 47px;
	font-family: 'TTThin';
	margin: 15px auto;
	padding: 0 0 0 60px;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	-moz-box-shadow: 1px 1px 1px 0px #282D3;
	-webkit-box-shadow: 1px 1px 1px 0px #282D3;
	box-shadow: 1px 1px 1px 0px #282D3;
}

.login-button, .submit-button {
	border: 0;
	width: 100%;
	font-size: 20px;
	letter-spacing: 1px;
	position: relative;
	background-color: #F24D34;
	color: white;
	margin-top: 20px;
	padding: 0;
	text-transform: uppercase;
	outline: none;

	//border radius

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	&:hover, &:focus  {
		background: #C93A23;
		cursor: pointer;
		outline: none;
	}
}


.forgot-password {
	font-size: 14px;
	color: #EF7D16;
	text-decoration: none;
	margin-top: 20px;

	&:hover {
		color: #DD5400;
	}
}

.email, .password {
	position: relative;

	.icon-envelope, .icon-lock {
		background: #363B41;
		color: white;
		line-height: 47px;
		position: absolute;
		left: 0;
		padding: 0 16px;
		
	}
.icon-lock {
		padding: 0 19px;
		
	}
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.error_message {
	background: #ff3236; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDFiMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3236 0%, #ed1b24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3236), color-stop(100%,#ed1b24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3236 0%,#ed1b24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#ed1b24',GradientType=0 ); /* IE6-8 */
	color: #FFF;
	font-family: 'TTRegular';
	margin: 0 auto;
	padding: 10px;
	position: relative;
	width: 320px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.success_message {
	background: #1ABC9B; /* Old browsers */
	color: #FFF;
	margin: 10px 0;
	padding: 10px;
	position: relative;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
