html, body {
    background: #2A2D35;
    margin: 0;
    padding: 0;
    font-family: 'TTRegular';
    height: 100%;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

$red: #E74C3C;
$blue: #2A2D35;

@import "components/base";
@import "fonts/fonts";
@import "fonts/font-awesome";

@import "components/delete-popup";

.wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 0;
}

@import "components/header";
@import "components/btns";