.header {
	margin: 0;
	padding: 0;
	line-height:90px;
	overflow: hidden;
	vertical-align: middle;
	

	.logo {
		display: inline-block;
		max-width: 250px;
		vertical-align: middle;
	}

	h1 {
		color: $red;
		display: inline-block;
		font-size: 15px;
		font-weight: normal;
		margin: 0 0 0 20px;
		padding: 0;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.signout {
		color: #EF7D16;
		float: right;
		margin-right: 20px;
		text-decoration: none;

		&:hover {
		color: #DD5400;
	}
	}
}